node_modules
.DS_Store
landingzone-full/
landingpage-full/
scrape-saved-html/health-coach_files
health-coach.html
*/.DS_Store
scrape-saved-html/personal-yoga-files/

scrape-saved-html/personal_files/

scrape-saved-html/people_files/

scrape-saved-html/people-designs.json

scrape-saved-html/people-site-list.json

scrape-saved-html/people.html

data/backups/
